.d-back-btn-white {
  background-color: transparent;
  color: white;
  border-color: white;
}

.d-primary-btn-ghost {
    background-color: transparent;
    color: #42b970;
    outline: none;
    border-color: transparent;
}